
.custom-select .ant-select-selector {
  height: 52px !important;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease;
}


.custom-select.ant-select-focused .ant-select-selector,
.custom-select:hover .ant-select-selector {
  border: 2px solid transparent !important;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, #F6581C 0%, #F57900 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}